<div align="center">
  <p class="smallText">{{title}}</p>
  <div id="startlisten">
    <button (click)="startListen()" class="button">Start lytting</button>
  </div>
  <div id="stoplisten" style="display:none">
    <button (click)="stopListen()" class="button">Stans lytting</button>
  </div>
  <audio id="soundplayer" src="assets/lys_tone.mp3"></audio>
</div>
<div align="center">
<button class="menubuttons" (click)="showTemp()">Temperature</button>
<button class="menubuttons" (click)="showDoor()">Door (Proximity)</button>
<button class="menubuttons" (click)="showAlarm()">Alarm (Proximity)</button>
<button class="menubuttons" (click)="showLysorgel()">Lysorgel (Touch)</button>
</div>
<br><br>

<table align="center" width="50%" border="0">
  <tr *ngIf="show_temp">
    <td align="right" width="50%" valign="top">Temperatur&nbsp;</td>
    <td><div *ngIf="tempSensor" id="tempvalue">{{tempSensor.reported.temperature.value}} ˚C</div></td>
  </tr>
  <tr *ngIf="show_door">
    <td align="right" width="50%" valign="top">Dør&nbsp;</td>
    <td align="center">
      <div *ngIf="doorSensor"><div id="statusDoor">{{statusDoor(doorSensor.reported.objectPresent.state)}}</div> <br>
         <img id="door_img" src="assets/{{doorSensor.reported.objectPresent.state}}.png" width="100%" height="50px" style="opacity: 0.5">
      </div>
    </td>
  </tr>
  <tr *ngIf="show_alarm">
    <td align="right" width="50%" valign="top">Alarm&nbsp;</td>
    <td align="center">
      <div *ngIf="alarmSensor"><div id="statusAlarm">{{statusAlarm(alarmSensor.reported.objectPresent.state)}}</div> <br>
        <img id="alarm_img" src="assets/{{alarmSensor.reported.objectPresent.state}}.png" width="100%" height="50px" style="opacity: 0.5">
      </div>
    </td>
  </tr>
  <tr *ngIf="show_lysorgel">
    <td colspan="2" valign="top">
      <table border="0" width="100%">
        <tr>
          <td colspan="3" align="center">Lysorgel</td>
        </tr>
        <tr>
          <td><img id="touch1_img" src="assets/pink.png" width="100%" height="50px" style="opacity: 0.1"></td>
          <td><img id="touch2_img" src="assets/purple.png" width="100%" height="50px" style="opacity: 0.1"></td>
          <td><img id="touch3_img" src="assets/blue.png" width="100%" height="50px" style="opacity: 0.1"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
